.section-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 1.09;
  letter-spacing: -0.5px;
  color: var(--second-text-color);
  margin: 0;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 32px;
    line-height: 1.25;
  }
}
