.bikes__image {
  width: 100%;
  max-width: 380px;
  background-color: #f4f4f4;
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
  object-fit: cover;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .bikes__image {
    min-width: 254px;
    min-height: 254px;
  }
}
