.footer__form {
  display: flex;
  gap: 10px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .footer__form {
    flex-direction: column;
  }
}

.footer__form .footer__label {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.5;
  padding: 15px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}
