.training {
  max-width: calc(100% - 240px);
  display: grid;
  gap: 50px;
  grid-template: min-content 1fr / minmax(min-content, 460px) minmax(min-content, 580px);
  justify-content: space-between;
  padding: 150px 0 120px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .training {
    max-width: 100%;
    padding: 275px 0 60px;
    grid-template: repeat(3, min-content) / 1fr;
    gap: 40px;
    padding: 40px 0 60px;
  }
}
