.bikes__name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--second-text-color);
  margin: 0;
  margin-top: 22px;
}

@media screen and (max-width: 767px) {
  .bikes__name {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
  }
}
