.quote__author-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: var(--second-text-color);;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .quote__author-name {
    font-size: 14px;
    line-height: 1.57;
  }
}
